<p><%= @status.status_body %></p>

<p>
  <% if @comments != nil %>
    <% @comments.each do |comment| %>
    <p>
      <%= comment.comment_body %><br/>
      <font size="0.5px">By <a href="/profile/<%= comment.user_id %>">User <%= comment.user_id %></a></font>
    </p>
    <% end %>
  <% end %>
</p>

<form action="/status/<%= @status.id %>/comment/new" method="post">
<p>New comment:</p>
<textarea cols="60" rows="5" name="comment_body">
</textarea>
<br/><br/>
<input type="submit" value="Comment!">
</form>