
<h1>Welcome <%= @user.username %></h1>

<p>user: <%= @user.username %></p>
<p>created: <%= @user.created_at %></p>
<p>about: <%= @user.about %></p>

<p><a href="/user/<%=@user.id%>/posts">submissions</a><br/>
<a href="/user/<%=@user.id%>/comments">comments</a></p>