<p>
  <%= @status.status_body %><br/>
  <font size="0.5px">
    Tagged: <% @status.tags.each do |tag| %>
    <a href="/tag/<%= tag.id %>"><%= tag.name %></a>
    <% end %> <br/>
    Created at: <a href="/status/<%= @status.id %>"><%= @status.created_at %></a> | <a href="/status/<%= @status.id %>/edit">Edit</a> | <a href="/status/<%= @status.id %>/delete">Delete</a><br/>
    <a href="/status/<%= @status.id %>/comment/new">Leave a comment</a></font>
</p>

<p>
  <% if @comments != nil %>
    <% @comments.each do |comment| %>
    <p>
      <%= comment.comment_body %><br/>
      <font size="0.5px">By <a href="/profile/<%= comment.user_id %>">User <%= comment.user_id %></a> | <a href="/status/<%= @status.id %>/comment/<%= comment.id %>/edit">Edit</a> | <a href="/status/<%= @status.id %>/comment/<%= comment.id %>/delete">Delete</a></font>
    </p>
    <% end %>
  <% end %>
</p>

<a href="/feed">Go back to feed</a>