<p><b>Hacker News</b>  <a href="/post/new">New post</a> | <a href="/login">Log in</a> | <a href="/logout">Log out</a></p>

<% @posts.each do |p| %>
<p><a href="<%= p.link %>"><%= p.title %></a><br/>
<font size="0.5px">by <a href="/user/<%= p.user.id %>"><%= p.user.username %></a> at <%= p.created_at %> | <a href="/post/<%= p.id %>"><%= p.comments.count %> comments</a> </font></p>

<!--
  Created at: <a href="/status/<%= p.id %>"><%= p.created_at %></a> | By <a href="/profile/<%= p.user_id %>">user <%= p.user_id %><%= %></a> | <a href="/status/<%= p.id %>/edit">Edit</a> | <a href="/status/<%= p.id %>/delete">Delete</a><br/>
    <a href="/status/<%= p.id%>/comment/new">Leave a comment</a></p> -->
<% end %>

