<h3>Statuses tagged "<%= @tag.name %>"</h3>
  <% @tag.statuses.each do |status| %>
  <p><%= status.status_body %>
  <br/>
  <font size="0.5px">Created at: <a href="/status/<%= status.id %>"><%= status.created_at %></a> | <a href="/status/<%= status.id %>/edit">Edit</a> | <a href="/status/<%= status.id %>/delete">Delete</a><br/>
    <a href="/status/<%= status.id %>/comment">Comment(s)</a></font>
  </p>
    <% end %>

<a href="/feed">Go back to feed</a>