<h3>Edit your profile</h3>

<form action="/profile/<%= @user.id %>" method="post">
<input type="hidden" name="_method" value="PUT">
<p>First name:</p>
<input type="text" name="profile[first_name]" value="<%= @profile.first_name %>">
<p>Last name:</p>
<input type="text" name="profile[last_name]" value="<%= @profile.last_name %>">
<p>Birthdate:</p>
<input type="text" name="profile[birthdate]" value="<%= @profile.birthdate %>">
<p>Phone number:</p>
<input type="text" name="profile[phone_number]" value="<%= @profile.phone_number %>">
<br/><br/>
<input type="submit" value="Update!">
</form>
<br/><br/>
<a href="/profile/<%= @user.id %>">Cancel update</a>